.section_3 {
  .section__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: $border-bottom;
    margin: 0;
    padding: 40px 0 48px;
    list-style: none;
    justify-content: space-around;
    .section__list__item {
      width: 30%;
      margin-top: 32px;
      padding-left: 16px;
      position: relative;
      li {
        font-weight: 700;
        display: flex;
        align-items: center;
      }
      span.bullet {
        position: absolute;
        top: 11px;
        left: 0;
        content: " ";
        margin-right: 8px;
        display: block;
        height: 8px;
        width: 8px;
        background-color: $blue-color;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

      span:not(.bullet) {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 770px) {
      flex-direction: column;
      flex-wrap: nowrap;
      .section__list__item {
        width: 100%;
      }
    }
  }
  .section__button {
    padding-top: 48px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 72px;
  }
}
