// colors

$white-color: #ffffff;
$black-color: #1f1f1d;
$grey-color: rgba(255, 255, 255, 0.8);
$blue-color: #0087fe;

$white-bg: #ffffff;
$gradient-bg: radial-gradient(
      35.76% 44.26% at 5.1% 7.01%,
      rgba(0, 135, 254, 0.149164) 0%,
      rgba(0, 135, 254, 0.2) 0%,
      rgba(0, 135, 254, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
  radial-gradient(
      45% 104.25% at 85.62% 105.07%,
      rgba(0, 135, 254, 0.2) 0%,
      rgba(0, 135, 254, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
  linear-gradient(0deg, #1f1f1d, #1f1f1d), #1f1f1d;
